body {
  background-image: url("../images/redskins.jpg");
  height: 100%;
}

h1 {
  color: red;
  text-align: center;
}

a, button{
  color: red;
  outline: none;
}

#number-sign {
  width:10px ;
}

.modal-header {
  background-color: black;
  color: white;
  opacity: .9;
}

.btn {
  background: black;
  text-decoration: none;
  border: none;
}

.btn:hover {
  background: grey;
}

#table-1 {
  margin-top: 10px;
  opacity: .7;
  color: yellow;
  border-collapse: collapse;
  overflow: hidden;
}

tr .pick-1 {
}

tr .pick-wrong {
color: black;
}

tr .pick-11 {
  color: black;
}

.navbar {
  background-color: black;
}

/* name*/

#name-david {

}

#name-brian {
  color: black;
}

#name-anthony {

}

#name-jack {
  color: black;
}

#name-alejandro {
  color: black;
}

#name-tim {
  color: black;
}

#name-nick {

}

#name-pete {
  color: black;
}

#name-sapna {
  color: black;
}

#name-alex {
  color: black;
}

#name-lee {
  color: black;
}

#name-jeff {
  color: black;
}
