body {
  background-image: url("../images/nfl-background.png");
}

h1 {
  color: red;
  text-align: center;
}

/*td {
  text-align: center;
  color: black;
  margin-left: 15px;
  border: .5px solid black;
  width: 100px;
  font-family: 'Oswald', sans-serif;

}*/

#number-sign {
  width:10px ;
}

#table-1 {
  margin-top: 10px;
  opacity: .7;
  color: yellow;
  border-collapse: collapse;
  overflow: hidden;
}

tr .pick-1 {

}

tr .pick-wrong {
color: black;
}

.navbar {
  background-color: black;
}
